@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'Courier Prime', monospace;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 120vh;
}

.hidden {
    opacity: 0;
    transition: all 2s;
}

.show {
    opacity: 1;
}